<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>

  <appSettings>
    <!--<add key="ConfigurationFilePath" value="Configuration.xml"/>-->
  </appSettings>

  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- 
    See http://nlog-project.org/wiki/Configuration_file 
    for information on customizing logging rules and outputs.
   -->
    <targets>
      <!-- add your targets here -->
      <target xsi:type="File"
              name="FileLog"
              fileName="${basedir}/TWIConnect.log"
              layout="${longdate} ${uppercase:${level}} ${message}"
              archiveEvery="Month"
              maxArchiveFiles="12"
              />
    </targets>

    <rules>
      <!-- add your logging rules here -->
      <logger name="*" minlevel="Trace" writeTo="FileLog" />
    </rules>
  </nlog>
  
</configuration>
